__pycache__/
*.pyc
/.venv/
/.ruff_cache/
/.pytest_cache/
/.idea/
/.run/
/Volume/
/UserData/
/Downloads/
.dart_tool/
/build/
gui/flutter_app/build/
gui/flutter_app/.dart_tool/
*.iml

/release/
/temp_custom_dl/
/dist/
/vendor/*
!/vendor/qjs/
/vendor/qjs/*
!/vendor/qjs/qjs.exe
/.zcode/

# 系统文件
.DS_Store
Thumbs.db
Desktop.ini
